<h1>Your links</h1>

<table>
  <tr>
    <th>Slug</th>
    <th>Target URL</th>
    <th>Created At</th>
  </tr>
  <% @links.each do |link| %>
    <tr>
      <td><%= link.slug %></td>
      <td><%= link.target_url %></td>
      <td><%= link.created_at %></td>
    </tr>
  <% end %>
<table>
  <% if current_user %>
  <%= link_to "Add New Link", "links/new", class: "btn btn-info" %>
  <%= link_to "Edit Link", "links/#{@link.id}/edit", class: "btn btn-info" %>
  <%= link_to "Link Stats", "links/show", class: "btn btn-info" %>
  <%= link_to "Delete Link", "links/#{@link.id}/destroy", {method: :delete, class: "btn btn-danger" } %>
  <% end %>
